
<div style="width:80%;margin:0 auto;">	

	<h1>Crear articulo</h1>

	<!-- Utilizar el parcial '_form.html.erb' creado para reutilzar el codigo  -->
	<%=render "articles/form", nombre:"Editar" %>

</div>
</div>
