<!-- Revisar los datos del BD on the screen
<%= @articles.inspect %>  -->



<% @articles.each do |article| %>

<!-- Click al titulo me lleva al articulo com el metodo get que es el '
articulo' -->
<h1><%= link_to article.title, article %> </h1>
<div>					
						<!-- Link para eliminar el art From destoy en el model -->
	<%=article.body %> - <%= link_to "Eliminar", article, method: :delete, class:"red" %>
</div>

<% end %>
